.wrestler-list__card {
  background-color: white;
  border-radius: 3px;
  padding: 6px;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 40% 59%;
  img {
    max-width: 80px;
    margin-right: 9px;
  }
}

.wrestler-list__meta {
  display: flex;
  align-items: center;
}

.wrestler-list__info {
}

.wrestler-list__description {
    align-self: center;
}
