.wrestler-list__card {
  background-color: white;
  border-radius: 3px;
  padding: 7px 6px 15px 6px;
  border: 1px solid gray;
  width: 50%;
  display: grid;
  grid-template-columns: 69% 30%;
//   height: 111px;
  font-size: 16px;
  cursor: pointer;
  color: $black;
  @include medium("down") {
    width: calc(100% - 15px);
  }
  ul {
    list-style: none;
     @include medium("down") {
      text-align: center;
    }
  }
  li {
    display: inline-block;
    min-width: 51%;
    margin: 3px 0;
    transition: $default-timing;
    &:hover {
      text-decoration: underline;
      transform: translateX(9px);
    }
  }
  @include small("down") {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  &:hover {
      background-color:rgb(236, 236, 236);
  }
  a, h2 {
    color: $primary;
    &:hover {
        color: lighten($primary, 8%);
    }
  }
}

.wrestler-list__avatar {
  margin-right: 30px;
    @include small("down") {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
  img {
    width: 119px;
  }
}

.wrestler-list__meta {
  display: flex;
  height: 100%;
  // justify-content: space-between;
  width: 100%;
  @include small("down") {
    flex-wrap: wrap;
      justify-content: center;
      width: 100%;
  }
}

.wrestler-list__info {
    color: $secondary;
    @include large("down") {
        align-self: center;
    }
  p {
    margin: 4px 0;
  }
  align-self: flex-end;
  @include small("down") {
    text-align: center;
  }
}

.wrestler-list__description {
  align-self: center;
  text-align: center;
  ul {
    text-align: center;
    margin: 0 auto;
  }
  @include small("down") {
      padding: 0 15px;
  }
}
